.products{
    width: 200px;
    height: 270px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.products .img{
    width: 100%;
    height: 150px;
}

.products .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-details{
    padding: 5px;
}

.product-details h3{
    margin-bottom: 10px;

}


.product-details p{
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}


.product-details button
{
    padding: 10px 20px;
    font-size: 15px;
    background-color:#48dbfb;
    border: none;
    border-radius:5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.product-details button:hover{
    background-color: #00d0ff;
}

.removecart{
    background-color: rgb(255, 77, 77) !important;
}